<nav class=" ps-2 navbar navbar-expand-lg  navbar-light header mt-4">
  <div class="container-fluid">
    <a class=" active navbar-brand" href="#">
      <img class="title" src=".\assets\Group.png" alt="reap medical">
    </a>
    <button class="navbar-toggler me-1 border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav headers-list">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link about-us" routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link " routerLink="/products">Products</a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link " routerLink="/protocols">Protocols</a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link " routerLink="/blogs">Blogs</a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link " routerLink="/news-and-events">News & Events</a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link " routerLink="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>