<footer class="footer">
    <div class="first-container">
        <img src=".\assets\Group1.png" alt="reap medical" class="reap-medical">
        <p class="text">
            A thriving player in Egypt's medical aesthetics market. Our founders envisioned a transformative approach to
            the aesthetic industry.
        </p>
        <div class="social-media">
            <img src=".\assets\facebook_svgrepo.com.png" alt="facebook" class="facebook">
            <img src=".\assets\instagram_svgrepo.com.png" alt="instagram" class="instagram">
        </div>
    </div>

    <div class="second-container ">
        <p class="contactUs-text">
            Contact Us Now
        </p>
        <P class="telephone">
            Telephone Number: 1234012347
        </P>
        <p class="email">
            Email: Example&#64;email.com
        </p>
        <p class="address">
            Address: 1283 address street,<br>
            Cairo, Egypt
        </p>
    </div>

    <div class="third-container">
        <div class="first-group-links">
            <a class="links">about us</a>
            <a class="links"> products</a>
            <a class="links"> protocols</a>
        </div>
        <div class="second-group-links">
            <a class="links"> blog</a>
            <a class="links"> news & events</a>
            <a class="links"> contact us</a>
        </div>
    </div>
</footer>