<div class="wholepage">
    <div class="first-part">
        <div class="title-container">
            <p class="page-title">
                BEAUTY BLOG
            </p>
            <p class="page-description">
                Discover the latest trendy medical topics in our beauty blog
            </p>
        </div>
    </div>
    <div class="second-part container-fluid">
        <div class="blogs-wrapper container-fluid row">
            <div class="row blog col-lg-12 col-md-6 col-sm-12">
                <div class="col-lg-6 order-lg-2 blog-image">
                    <img src=".\assets\blog1.png" alt="" class="image-size">
                </div>
                <div class="col-lg-6 order-lg-1 blog-text">
                    <p class="blog-time">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        5 mins read
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="blog-title">
                        Blog Title
                    </p>
                    <app-blog-read-more>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </app-blog-read-more>
                </div>
            </div>
            <div class="row blog col-lg-12 col-md-6 col-sm-12">
                <div class="col-lg-6 blog-image">
                    <img src=".\assets\blog2.png" alt="" class="image-size">
                </div>
                <div class="col-lg-6 blog-text">
                    <p class="blog-time">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        5 mins read
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="blog-title">
                        Blog Title
                    </p>
                    <app-blog-read-more>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </app-blog-read-more>
                </div>
            </div>
            <div class="row blog col-lg-12 col-md-6 col-sm-12">
                <div class="col-lg-6 order-lg-2 blog-image">
                    <img src=".\assets\blog3.png" alt="" class="image-size">
                </div>
                <div class="col-lg-6 order-lg-1 blog-text">
                    <p class="blog-time">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        5 mins read
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="blog-title">
                        Blog Title
                    </p>
                    <app-blog-read-more>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </app-blog-read-more>
                </div>
            </div>
        </div>
    </div>
</div>