<div class="wholepage">
    <div class="first-part-small-devices">
        <p class="first-text">
            YOUR SKIN,
            <br>
            YOUR STORY
        </p>
        <img class="first-img" src="./assets/homepage_bg.png" alt="">
    </div>

    <div class="first-part">
        <img class="img-right" src=".\assets\right-img.jpeg" alt="">
        <img class="img-left" src=".\assets\left-img.jpeg" alt="">
        <img class="img-right-2" src=".\assets\second-animation-second-half.jpeg" alt="">
        <img class="img-left-2" src=".\assets\second-animation-first-half.jpeg" alt="">
        <img class="img-right-3" src=".\assets\third-animation-second-half.jpeg" alt="">
        <img class="img-left-3" src=".\assets\third-animation-first-half.jpeg" alt="">
    </div>

    <div class="about-us-part container-fluid">
        <div class="why-biodecoding row">
            <img class="biodecode-img col-6 order-sm-2" src=".\assets\biodecod.png" alt="">
            <div class="why-bidecoding-text col-6 order-sm-1">
                <p class="why-biodecoding-title">
                    Why Biodecoding?
                </p>
                <p class="why-biodecode-body">
                    Biodecoding is a transformative biostimulation journey that awakens your skin's inherent radiance,
                    embracing authentic beauty. This voyage crafts a distinctive profile, serving as the compass for
                    tailor-made rituals, spanning both face and body by seamlessly integrating advanced techniques and
                    treatments. Biodecoding aims to fleeting brilliance and promising not just a momentary glow, but an
                    enduring radiance that resonates with your individuality
                </p>
            </div>
        </div>
        <div class="why-images row">
            <img class="col-3" src=".\assets\about-us-why1.png" alt="">
            <img class="col-3" src=".\assets\about-us-why2.png" alt="">
            <img class="col-3" src=".\assets\about-us-why3.png" alt="">
            <img class="col-3" src=".\assets\about-us-why4.png" alt="">
        </div>
        <button class="more-button" [routerLink]="'/about-us'">
            &nbsp;
            More About Us
            &nbsp;
            <img class="right-arrow-vector" src="./assets/right-arrow.png" alt="">
            &nbsp;
        </button>
    </div>

    <div class="our-products">
        <div class="our-products-text">
            <p class="our-products-title">
                Our Products
            </p>
            <p class="our-products-body">
                We have over 120 products in many locations
            </p>
        </div>
        <div class="belt products-images">
            <img src=".\assets\homepage-products1.png" alt="">
            <img src=".\assets\homepage-products2.png" alt="">
            <img src=".\assets\homepage-products3.png" alt="">
            <img src=".\assets\homepage-products4.png" alt="">
            <img src=".\assets\homepage-products5.png" alt="">
            <img src=".\assets\homepage-products6.png" alt="">
            <img src=".\assets\homepage-products7.png" alt="">
            <img src=".\assets\homepage-products1.png" alt="">
            <img src=".\assets\homepage-products2.png" alt="">
            <img src=".\assets\homepage-products3.png" alt="">
            <img src=".\assets\homepage-products4.png" alt="">
            <img src=".\assets\homepage-products5.png" alt="">
            <img src=".\assets\homepage-products6.png" alt="">
            <img src=".\assets\homepage-products7.png" alt="">
            <img src=".\assets\homepage-products1.png" alt="">
            <img src=".\assets\homepage-products2.png" alt="">
            <img src=".\assets\homepage-products3.png" alt="">
            <img src=".\assets\homepage-products4.png" alt="">
            <img src=".\assets\homepage-products5.png" alt="">
            <img src=".\assets\homepage-products6.png" alt="">
            <img src=".\assets\homepage-products7.png" alt="">
            <img src=".\assets\homepage-products1.png" alt="">
            <img src=".\assets\homepage-products2.png" alt="">
            <img src=".\assets\homepage-products3.png" alt="">
            <img src=".\assets\homepage-products4.png" alt="">
            <img src=".\assets\homepage-products5.png" alt="">
            <img src=".\assets\homepage-products6.png" alt="">
            <img src=".\assets\homepage-products7.png" alt="">
        </div>
        <button class="more-button" [routerLink]="'/products'">
            &nbsp;
            Discover More Products
            &nbsp;
            <img class="right-arrow-vector" src="./assets/right-arrow.png" alt="">
            &nbsp;
        </button>
    </div>

    <div class="our-protocols">
        <div class="our-protocols-text">
            <p class="our-protocols-title">
                Our Bistimulation Protocols
            </p>
        </div>
        <div class="container-fluid">
            <div class="row protocol-cards">
                <div class="col protocol-card">
                    <div class="protocol-card-slide">
                        <p class="protocol-card-hidden-text">
                            These biodecoding protocols combine skin boosters and radiofrequency machines to
                            comprehensively
                            treat various facial issues, providing an effective solution for enhanced appearance.
                        </p>
                        <p class="protocol-card-title">
                            COMBINED THERAPIES
                        </p>
                        <img class="protocol-card-img protocol-card-img-extra-margin"
                            src=".\assets\homepage-protocol1.png" alt="">
                    </div>
                </div>
                <div class="col protocol-card">
                    <div class="protocol-card-slide">
                        <p class="protocol-card-hidden-text">
                            These biodecoding body protocols utilize radiofrequency machines to effectively treat a
                            variety
                            of skin concerns, including stretch marks, scars, hyperpigmentation, cellulite, and sagging
                            skin.
                        </p>
                        <p class="protocol-card-title">
                            BODY PROTOCOL
                        </p>
                        <img class="protocol-card-img" src=".\assets\homepage-protocol2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <button class="more-button" [routerLink]="'/protocols'">
            &nbsp;
            Discover More Protocols
            &nbsp;
            <img class="right-arrow-vector" src="./assets/right-arrow.png" alt="">
            &nbsp;
        </button>
    </div>

    <div class="our-success container-fluid">
        <div class="our-success-text">
            <p class="our-success-title">
                Our Success Measrues
            </p>
        </div>
        <div class="success-cards row">
            <div class="success-card col-4">
                <img src=".\assets\s1.png" alt="">
                <div class="success-number-frame">
                    <span class="countNumbersOne">
                    </span>
                    <span>
                        +
                    </span>
                    <p>
                        Products Sold
                    </p>
                </div>
            </div>
            <div class="success-card col-4">
                <img src=".\assets\s2.png" alt="">
                <div class="success-number-frame">
                    <span class="countNumbersTwo">
                    </span>
                    <span>
                        +
                    </span>
                    <p>
                        Clinic Locations
                    </p>
                </div>
            </div>
            <div class="success-card col-4">
                <img src=".\assets\s3.png" alt="">
                <div class="success-number-frame">
                    <span class="countNumbersThree">
                    </span>
                    <span>
                        +
                    </span>
                    <p>
                        Happy Clients
                    </p>
                </div>
            </div>
        </div>

        <div class="clients-reviews">
            <div class="clients-reviews-text">
                <p class="clients-reviews-title">
                    Happy Clients Reviews
                </p>
            </div>
            <div class="clients-reviews-cards Grid">
                <div class="clients-reviews-card Grid-cell" *ngIf="switch">
                    <img src=".\assets\review2.png" alt="">
                </div>
                <div class="clients-reviews-card Grid-cell">
                    <img src=".\assets\review1.png" alt="">
                </div>
                <div class="clients-reviews-card Grid-cell" *ngIf="!switch">
                    <img src=".\assets\review2.png" alt="">
                </div>
            </div>
            <div class="navigation-buttons">
                <button class="navigation-button" (click)="navigate()">
                    &nbsp;
                    <img class="right-arrow-vector" src="./assets/left-arrow-only.png" alt="">
                    &nbsp;
                </button>
                <button class="navigation-button" (click)="navigate()">
                    &nbsp;
                    <img class="right-arrow-vector" src="./assets/right-arrow-only.png" alt="">
                    &nbsp;
                </button>
            </div>
        </div>

        <div class="meet-experts">
            <div class="meet-experts-text">
                <p class="meet-experts-title">
                    Meet The Experts
                </p>
                <p class="meet-experts-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
            </div>
            <!-- <div class="belt2 meet-experts-images">
                <img src=".\assets\image1.png" alt="">
                <img src=".\assets\image2.png" alt="">
                <img src=".\assets\image3.png" alt="">
                <img src=".\assets\image4.png" alt="">
                <img src=".\assets\image5.png" alt="">
                <img src=".\assets\image6.png" alt="">
                <img src=".\assets\image7.png" alt="">
                <img src=".\assets\image8.png" alt="">
            </div> -->
            <div class="belt meet-experts-images">
                <img src=".\assets\image1.png" alt="">
                <img src=".\assets\image2.png" alt="">
                <img src=".\assets\image3.png" alt="">
                <img src=".\assets\image4.png" alt="">
                <img src=".\assets\image5.png" alt="">
                <img src=".\assets\image6.png" alt="">
                <img src=".\assets\image7.png" alt="">
                <img src=".\assets\image8.png" alt="">
                <img src=".\assets\image1.png" alt="">
                <img src=".\assets\image2.png" alt="">
                <img src=".\assets\image3.png" alt="">
                <img src=".\assets\image4.png" alt="">
                <img src=".\assets\image5.png" alt="">
                <img src=".\assets\image6.png" alt="">
                <img src=".\assets\image7.png" alt="">
                <img src=".\assets\image8.png" alt="">
                <img src=".\assets\image1.png" alt="">
                <img src=".\assets\image2.png" alt="">
                <img src=".\assets\image3.png" alt="">
                <img src=".\assets\image4.png" alt="">
                <img src=".\assets\image5.png" alt="">
                <img src=".\assets\image6.png" alt="">
                <img src=".\assets\image7.png" alt="">
                <img src=".\assets\image8.png" alt="">
                <img src=".\assets\image1.png" alt="">
                <img src=".\assets\image2.png" alt="">
                <img src=".\assets\image3.png" alt="">
                <img src=".\assets\image4.png" alt="">
                <img src=".\assets\image5.png" alt="">
                <img src=".\assets\image6.png" alt="">
                <img src=".\assets\image7.png" alt="">
                <img src=".\assets\image8.png" alt="">
            </div>
            <button class="more-button" [routerLink]="'/about-us'">
                &nbsp;
                See More
                &nbsp;
                <img class="right-arrow-vector" src="./assets/right-arrow.png" alt="">
                &nbsp;
            </button>
        </div>

        <div class="our-blog">
            <div class="our-blog-text">
                <p class="our-blog-title">
                    Our Blog
                </p>
            </div>
            <div class="blogs-cards Grid-blog">
                <div class="blog-card Grid-cell-blog">
                    <img src=".\assets\blog1.png" alt="" class="image-size">
                    <div class="blog-text">
                        <p class="blog-time">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            5 mins read
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </p>
                        <p class="blog-title">
                            Blog Title
                        </p>
                        <app-blog-homepage-read-more>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        </app-blog-homepage-read-more>
                    </div>
                </div>
                <div class="blog-card Grid-cell-blog">
                    <img src=".\assets\blog2.png" alt="" class="image-size">
                    <div class="blog-text">
                        <p class="blog-time">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            5 mins read
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </p>
                        <p class="blog-title">
                            Blog Title
                        </p>
                        <app-blog-homepage-read-more>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        </app-blog-homepage-read-more>
                    </div>
                </div>
                <div class="blog-card Grid-cell-blog">
                    <img src=".\assets\blog3.png" alt="" class="image-size">
                    <div class="blog-text">
                        <p class="blog-time">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            5 mins read
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </p>
                        <p class="blog-title">
                            Blog Title
                        </p>
                        <app-blog-homepage-read-more>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        </app-blog-homepage-read-more>
                    </div>
                </div>
            </div>
            <button class="more-button" [routerLink]="'/blogs'">
                &nbsp;
                Read More Blogs
                &nbsp;
                <img class="right-arrow-vector" src="./assets/right-arrow.png" alt="">
                &nbsp;
            </button>
        </div>
    </div>
</div>