<div class="wholepage">
    <div class="paragraph-frame">
        <p class="title">
            Get In Touch
        </p>
        <p class="service-ellaboration">
            We’re dedicated to providing an exceptional service. Our team of highly skilled professionals is committed
            to delivering personalized care and ensuring your comfort and satisfaction.
        </p>
        <p class="reach-through">
            You can reach us through:
        </p>
    </div>

    <div class="container-fluid">
        <div class="row cards">
            <div class="col contact-card">
                <img src=".\assets\Vector.png" alt="">
                <p class="frame-title">
                    Email
                </p>
                <p class="frame-text">
                    Example&#64;email.com
                </p>
            </div>
            <div class="col contact-card">
                <img src=".\assets\phone.png" alt="">
                <p class="frame-title">
                    Phone
                </p>
                <div class="frame-text">
                    <p>
                        23423523452345
                    </p>
                    <p>
                        23423523452345
                    </p>
                    <p>
                        23423523452345
                    </p>
                </div>
            </div>
            <div class="col contact-card">
                <img src=".\assets\address.png" alt="">
                <p class="frame-title">
                    Address
                </p>
                <p class="frame-text">
                    Placeholder Text For Address
                </p>
            </div>
        </div>
    </div>
</div>