<div class="whole-page">
    <div class="about-reap-medical-frame">
        <p class="about-reap-medical-title">
            About <br class="line-break"> reap medical
        </p>
        <p class="about-reap-medical-paragraph">
            Reap Medical, established in 2019, is a thriving player in Egypt's medical aesthetics market. Our founders
            envisioned a transformative approach to the aesthetic industry. In 2022, we split into two entities: Reap
            Medical Consumables and Reap Medical Devices. The former specializes in aesthetic and cosmetic consumables,
            while the latter focuses on medical devices for dermatology, gynecology, and whole-body aesthetic
            treatments.
        </p>
        <p class="mission mt-md-0 mt-5">
            we are on a mission to be the market leaders in the aesthetics market.
        </p>

    </div>

    <p class="our-values">
        our values
    </p>


    <div class="images-paragraphs-frame ">
        <div class="quality-of-product-frame  ">
            <img src=".\assets\quality-of-product.png" alt="" class="quality-of-product-img">
            <p class="title">
                Quality of product
            </p>
            <p class="body ">
                Committing to using and selling high-quality, safe, and ethically sourced beauty products.
            </p>
        </div>
        <div class="passion-for-beauty-frame  ">
            <img src=".\assets\passion-for-beauty.png" alt="" class="passion-for-beauty-img">
            <p class="title">
                passion for beauty
            </p>
            <p class="body">
                Fostering a genuine passion for the beauty industry and a love for helping clients look and feel their
                best.
            </p>
        </div>
        <div class="client-education-frame">
            <img src=".\assets\client-education.png" alt="" class="client-education-img">
            <p class="title ms-md-0">
                Client Education
            </p>
            <p class="body">
                Providing clients with knowledge about products, treatments, and aftercare to empower them to make
                informed beauty decisions.
            </p>
        </div>
    </div>




    <div class="biodecoding-containing-frame">
        <div class="why-bidecoding-text-frame">
            <p class="biodecoding-title">
                Why Biodecoding?
            </p>
            <p class="biodecode-body">
                Biodecoding is a transformative biostimulation journey that awakens your skin's inherent radiance,
                embracing authentic beauty. This voyage crafts a distinctive profile, serving as the compass for
                tailor-made rituals, spanning both face and body by seamlessly integrating advanced techniques and
                treatments. Biodecoding aims to fleeting brilliance and promising not just a momentary glow, but an
                enduring radiance that resonates with your individuality
            </p>
        </div>
        <img class="biodecode-img" src=".\assets\biodecod.png" alt="">
    </div>
    <div class="experts">
        <p class="meet-the-experts">
            meet the experts
        </p>
        <p class="experts-paragraph">
            We have over 120 products in many locations
        </p>
        <div class="belt">
            <img src=".\assets\image1.png" alt="">
            <img src=".\assets\image2.png" alt="">
            <img src=".\assets\image3.png" alt="">
            <img src=".\assets\image4.png" alt="">
            <img src=".\assets\image5.png" alt="">
            <img src=".\assets\image6.png" alt="">
            <img src=".\assets\image7.png" alt="">
            <img src=".\assets\image8.png" alt="">
            <img src=".\assets\image1.png" alt="">
            <img src=".\assets\image2.png" alt="">
            <img src=".\assets\image3.png" alt="">
            <img src=".\assets\image4.png" alt="">
            <img src=".\assets\image5.png" alt="">
            <img src=".\assets\image6.png" alt="">
            <img src=".\assets\image7.png" alt="">
            <img src=".\assets\image8.png" alt="">
            <img src=".\assets\image1.png" alt="">
            <img src=".\assets\image2.png" alt="">
            <img src=".\assets\image3.png" alt="">
            <img src=".\assets\image4.png" alt="">
            <img src=".\assets\image5.png" alt="">
            <img src=".\assets\image6.png" alt="">
            <img src=".\assets\image7.png" alt="">
            <img src=".\assets\image8.png" alt="">
            <img src=".\assets\image1.png" alt="">
            <img src=".\assets\image2.png" alt="">
            <img src=".\assets\image3.png" alt="">
            <img src=".\assets\image4.png" alt="">
            <img src=".\assets\image5.png" alt="">
            <img src=".\assets\image6.png" alt="">
            <img src=".\assets\image7.png" alt="">
            <img src=".\assets\image8.png" alt="">
        </div>
    </div>

</div>