<div class="whole-page">
    <div class="protocols-first mt-3">
        <div class="row  pt-3 ps-0 ms-0 me-0 justify-content-center text-center ">
            <p class=" bidecoding-protocols-title pt-5 ">
                Bidecoding protocols
            </p>
            <p class=" bidecoding-protocols-content ">
                We have various protocols that can be customized based on each case
            </p>
        </div>
        <div class="row ps-0 ms-0 me-0 justify-content-center mt-5 pt-5">
            <img class="col-md-8 col-lg-4 col-9 mx-3 mt-5 " src=".\assets\combined-therapies.png" alt="">
            <img class="col-md-8 col-lg-4 col-9 mx-3 mt-5 " src=".\assets\body-protocols.png" alt="">
        </div>
    </div>
    <p class=" col-9 justify-content-start combined-therapies ps-5 ms-md-5">
        combined therapies
    </p>

    <div class="row protocols-second mt-2 mb-5 pb-5 ps-5 ms-md-5">
        <div class="col-md-6 col-12 justify-content-center px-2 mt-5 mt-md-0">
            <img src=".\assets\jalotux.PNG" alt="" class="mb-md-4 col-lg-3 col-md-6 col-8 ms-md-3">
            <div class="row order-1">
                <p class="therapies-titles">
                    1.<span> </span> Jalutox
                </p>
                <p class="therapies-content ">
                    Treatment of static and dynamic wrinkles for forhead, periocular, perioral and neck wrinkles.
                </p>
                <p class="device mb-2">
                    Device:
                </p>
                <p class="device-content ">
                    Jalupro classic + babybotox

                </p>
                <p class="device mt-4 mb-0">
                    Benifits:
                </p>
                <p class="therapies-content  ">
                    Less pigmentation, more equally-toned skin, healthy glowy skin texture - Less oily skin, better
                    skin definition, less wrinkles, rejuvenated look

                </p>
            </div>
        </div>
        <div class="col-md-6 col-12 justify-content-center px-2 mt-5 mt-md-0">
            <img src=".\assets\super-face.png" alt="" class="mb-md-3 col-lg-3 col-md-6 col-8 ms-md-3">
            <div class="row mb-md-5 mb-lg-0">
                <p class="therapies-titles">
                    2.<span> </span> Superface
                </p>
                <p class="therapies-content ">
                    Hybrid technique to have a powerful
                    biostimulation and lifting effect for face, neck and hands. </p>
                <p class="device mb-2">
                    Device:
                </p>
                <p class="device-content ">
                    Jalupro superhydro + Facetem
                </p>
                <p class="device mt-4 mb-0">
                    Benifits:
                </p>
                <p class="therapies-content  ">
                    Skin biostimulation, rejuvenated skin quality, lifted defined facial features
                </p>
            </div>
        </div>
        <div class="col-md-6 col-12 justify-content-center px-2 mt-5 mt-md-0">
            <img src=".\assets\woman.PNG" alt="" class="mb-md-3 col-lg-3 col-md-6 col-8 ms-md-3">
            <div class="row">
                <p class="therapies-titles">
                    3.<span> </span> micheline
                </p>
                <p class="therapies-content ">
                    Facial Contouring for nasolabial fat, double chin, jawline, ....etc. with no downtime, no pain
                    and no swelling </p>
                <p class="device mb-2">
                    Device:
                </p>
                <p class="device-content ">
                    Michelangelo +4 plus
                </p>
                <p class="device mt-4 mb-0">
                    Benifits:
                </p>
                <p class="therapies-content ">
                    Localized fat lipolysis, defined sharp jawline, defined chin with no fat or sagging skin

                </p>
            </div>
        </div>
        <div class="col-md-6 col-12 justify-content-center px-2 pt-3 mt-5 mt-md-0">
            <img src=".\assets\pink-lips.PNG" alt="" class="mb-md-3 col-lg-3 col-md-6 col-8 ms-md-3">
            <div class="row">
                <p class="therapies-titles">
                    4.<span> </span> Pink Lips
                </p>
                <p class="therapies-content ">
                    Powerful session to get rid of the fine lines,
                    stimulate collagen and get more hydrated lips. </p>
                <p class="device mb-2">
                    Device:
                </p>
                <p class="device-content ">
                    4Plus + Jalupro HMW
                </p>
                <p class="device mt-4 mb-0">
                    Benifits:
                </p>
                <p class="therapies-content ">
                    Hydrated fresh-looking, pink radiant lips, with no somker lines, and better definition and
                    volume
                </p>
            </div>
        </div>
        <div class="col-md-6 col-12 justify-content-center px-2 mt-5 mt-md-0">
            <img src=".\assets\define.PNG" alt="" class="mb-md-3 col-lg-3 col-md-6 col-8 ms-md-3">
            <div class="row">
                <p class="therapies-titles">
                    5.<span> </span> Define
                </p>
                <p class="therapies-content ">
                    Lower face and neck protocol for double chin
                    reduction and define the jawline
                </p>
                <p class="device mb-2">
                    Device:
                </p>
                <p class="device-content ">
                    4PLUS + Facetem
                </p>
                <p class="device mt-4 mb-0">
                    Benifits:
                </p>
                <p class="therapies-content ">


                </p>
            </div>
        </div>
        <div class="col-md-6 col-12 justify-content-center px-2 mt-5 mt-md-0">
            <img src=".\assets\protocols.png" alt="" class="mb-md-5 col-lg-3 col-md-6 col-8 ms-md-3">
                <div class="row">
                    <p class="therapies-titles">
                        6.<span> </span> R3 Protocol
                    </p>
                    <p class="therapies-content ">
                        The perfect combination to stimulate new collagen annd
                        elastin through radiofrequency, amino acids, peptides and the
                        highest concentration of hyaluronic acid
                    </p>
                    <p class="device mb-2">
                        Device:
                    </p>
                    <p class="device-content ">
                        4Plus + jalupro superhydro
                    </p>
                    <p class="device mt-4 mb-0">
                        Benifits:
                    </p>
                    <p class="therapies-content ">
                        Improved texture of the skin, better-looking, glowy, hydrated face
                    </p>
                </div>
        </div>

        <!-- <div class="col-md-6 col-12 justify-content-center px-2 ">
            <div class="row mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                
            </div>
            <div class="row mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                
            </div>
            <div class="row  mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                
            </div>
        </div>
        <div class="col-md-6 col-9 justify-content-center px-0 mx-0">
            <div class="row  mt-5 ms-5 ps-5 me-md-0 mb-md-5 mb-lg-0 pb-md-5 pb-lg-0 ps-md-0 order-2">
                
            </div>
            <div class="row mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                
            </div>
            <div class="row  mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                
            </div>
        </div> -->
        <img src=".\assets\break.png" class=" hidden col-9 mx-auto mt-5">
    </div>

    <p class="hidden justify-content-start combined-therapies ps-5 ms-5">
        Body Protocols
    </p>
    <div class="row hidden protocols-second mt-2 mb-5 pb-5">
        <div class="col-md-6 justify-content-center px-2 ">
            <div class="row  mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                <img src=".\assets\super-face.png" alt="" class=" mb-md-3 col-lg-3 col-md-6 col-7 ms-md-3">
                <div class="row">
                    <p class="therapies-titles">
                        1.<span> </span> Jalutox
                    </p>
                    <p class="therapies-content ">
                        Lower face and neck protocol for double chin reduction and define the jawline
                    </p>
                    <p class="device mb-2">
                        Device:
                    </p>
                    <p class="device-content ">
                        Michelangelo +4 plus
                    </p>
                    <p class="device mt-4 mb-0">
                        Benifits:
                    </p>
                    <p class="therapies-content  ">
                        Localized fat lipolysis, defined sharp jawline, defined chin with no fat or sagging skin

                    </p>
                </div>
            </div>
            <div class="row mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                <img src=".\assets\super-face.png" alt="" class="mb-md-3 col-lg-3 col-md-6 col-7 ms-md-3">
                <div class="row">
                    <p class="therapies-titles">
                        1.<span> </span> Jalutox
                    </p>
                    <p class="therapies-content ">
                        Lower face and neck protocol for double chin reduction and define the jawline
                    </p>
                    <p class="device mb-2">
                        Device:
                    </p>
                    <p class="device-content ">
                        Michelangelo +4 plus
                    </p>
                    <p class="device mt-4 mb-0">
                        Benifits:
                    </p>
                    <p class="therapies-content ">
                        Localized fat lipolysis, defined sharp jawline, defined chin with no fat or sagging skin

                    </p>
                </div>
            </div>
            <div class="row  mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                <img src=".\assets\super-face.png" alt="" class="mb-md-3 col-lg-3 col-md-6 col-7 ms-md-3">
                <div class="row">
                    <p class="therapies-titles">
                        1.<span> </span> Jalutox
                    </p>
                    <p class="therapies-content ">
                        Lower face and neck protocol for double chin reduction and define the jawline
                    </p>
                    <p class="device mb-2">
                        Device:
                    </p>
                    <p class="device-content ">
                        Michelangelo +4 plus
                    </p>
                    <p class="device mt-4 mb-0">
                        Benifits:
                    </p>
                    <p class="therapies-content ">
                        Localized fat lipolysis, defined sharp jawline, defined chin with no fat or sagging skin

                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 justify-content-center px-0 mx-0 mb-5 pb-5">
            <div class="row  mt-5 ms-5 ps-5 me-md-0 ps-md-0">
                <div class=" steps-rectangle">
                    <div class="container">
                        <p class="therapies-titles mt-4 ">
                            Steps:
                        </p>
                        <p class="steps-content ms-2 mt-4 ">
                            1.<span> </span> Anika (1 Treatment/week) <br>
                            session duration: 10 - 15 minutes
                        </p>

                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">


                        <p class="steps-content ms-2  ">
                            2.<span> </span> 4Plus (1 treatment/week)

                        </p>
                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">
                        <p class="steps-content ms-2  ">
                            3.<span> </span> Treatment: 4 NFR (Fractional Microbleeding) Session duration: 10 - 15
                            minutes

                        </p>
                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">
                        <p class="steps-content ms-2 ">
                            4.<span> </span> Treatment: H1 or H2 with Jalu-fill (Hydration Mesotherapy) + (lifting
                            Mesotherapy)
                            Session Duration: 30- 40 minutes
                        </p>
                    </div>
                </div>
            </div>
            <div class="row  mt-5 ms-5 ps-5 pt-5 me-md-0 ps-md-0">
                <div class=" steps-rectangle ">
                    <div class="container">
                        <p class="therapies-titles mt-4 ">
                            Steps:
                        </p>
                        <p class="steps-content ms-2 mt-4 ">
                            1.<span> </span> Anika (1 Treatment/week) <br>
                            session duration: 10 - 15 minutes
                        </p>

                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">


                        <p class="steps-content ms-2  ">
                            2.<span> </span> 4Plus (1 treatment/week)

                        </p>
                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">
                        <p class="steps-content ms-2  ">
                            3.<span> </span> Treatment: 4 NFR (Fractional Microbleeding) Session duration: 10 - 15
                            minutes

                        </p>
                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">
                        <p class="steps-content ms-2 ">
                            4.<span> </span>Treatment: H1 with body drop (Mesolipolysis) + lift fill (lifting
                            mesotherapy)

                        </p>
                    </div>

                </div>
            </div>
            <div class="row  mt-4 ms-5 ps-5 pt-5 me-md-0 ps-md-0">
                <div class="mt-1 steps-rectangle">
                    <div class="container">
                        <p class="therapies-titles mt-4 ">
                            Steps:
                        </p>
                        <p class="steps-content ms-2 mt-4 ">
                            1.<span> </span> Anika (1 Treatment/week) <br>
                            session duration: 10 - 15 minutes
                        </p>

                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">


                        <p class="steps-content ms-2  ">
                            2.<span> </span> 4Plus (1 treatment/week)

                        </p>
                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">
                        <p class="steps-content ms-2  ">
                            3.<span> </span> Treatment: 4 NFR (Fractional Microbleeding) Session duration: 10 - 15
                            minutes

                        </p>
                        <img class="img-fluid mx-auto d-block arrow" src=".\assets\ei_arrow-up.png" alt="">
                        <p class="steps-content ms-2 ">
                            4.<span> </span>Treatment: H1 with lift-fill (lifting mesotherapy)
                            Session duration: 20 - 25 minutes
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>