<div class="wholepage">
    <div class="first-part">
        <div class="title-container">
            <p class="page-title">
                LATEST NEWS AND EVENTS
            </p>
            <p class="page-description">
                See whats the latest events taking place in reap medical
            </p>
        </div>
    </div>
    <div class="second-part container-fluid">
        <div class="news-wrapper container-fluid row">
            <div class="row news col-lg-12 col-md-6 col-sm-12">
                <div class="col-lg-7 order-lg-2 news-image">
                    <img src=".\assets\news1.png" alt="" class="image-size">
                </div>
                <div class="col-lg-5 order-lg-1 news-text">
                    <p class="news-time">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        5 mins read
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="news-title">
                        News Title
                    </p>
                    <p class="news-date">
                        Date: 02/01/2023
                    </p>
                    <app-news-read-more>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    </app-news-read-more>
                </div>
            </div>
            <div class="row news col-lg-12 col-md-6 col-sm-12">
                <div class="col-lg-7 news-image">
                    <img src=".\assets\news2.png" alt="" class="image-size">
                </div>
                <div class="col-lg-5 news-text">
                    <p class="news-time">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        5 mins read
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="news-title">
                        News Title
                    </p>
                    <p class="news-date">
                        Date: 02/01/2023
                    </p>
                    <app-news-read-more>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    </app-news-read-more>
                </div>
            </div>
            <div class="row news col-lg-12 col-md-6 col-sm-12">
                <div class="col-lg-7 order-lg-2 news-image">
                    <img src=".\assets\news3.png" alt="" class="image-size">
                </div>
                <div class="col-lg-5 order-lg-1 news-text">
                    <p class="news-time">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        5 mins read
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="news-title">
                        News Title
                    </p>
                    <p class="news-date">
                        Date: 02/01/2023
                    </p>
                    <app-news-read-more>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    </app-news-read-more>
                </div>
            </div>
            <div class="row news col-lg-12 col-md-6 col-sm-12">
                <div class="col-lg-7 news-image">
                    <img src=".\assets\news4.png" alt="" class="image-size">
                </div>
                <div class="col-lg-5 news-text">
                    <p class="news-time">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        5 mins read
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    <p class="news-title">
                        News Title
                    </p>
                    <p class="news-date">
                        Date: 02/01/2023
                    </p>
                    <app-news-read-more>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    </app-news-read-more>
                </div>
            </div>
        </div>
    </div>
</div>