<div class="wholepage">
    <div class="first-part">
        <div class="title-container">
            <p class="page-title">
                DISCOVER OUR PRODUCTS
            </p>
            <p class="page-description">
                We have a wide variety of products in the market that ensure a promising long lasting effect.
            </p>
        </div>

        <div>
            <ul class="navbar-nav page-nav">
                <li class="nav-item " routerLinkActive="active">
                    <button (click)="scroll(Jalupro)" class="nav-link">1. Jalupro</button>
                </li>
                <li>
                    <img src="./assets/Vector22.png" alt="">
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <button (click)="scroll(Plus)" class="nav-link">2. 4 Plus</button>
                </li>
                <li>
                    <img src="./assets/Vector22.png" alt="">
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <button (click)="scroll(Aesthafill)" class="nav-link">3. Aesthafill</button>
                </li>
                <li>
                    <img src="./assets/Vector22.png" alt="">
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <button (click)="scroll(Facetem)" class="nav-link">4. Facetem</button>
                </li>
                <li>
                    <img src="./assets/Vector22.png" alt="">
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <button (click)="scroll(Renaissance)" class="nav-link">5. Renaissance</button>
                </li>
                <li>
                    <img src="./assets/Vector22.png" alt="">
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <button (click)="scroll(Anika)" class="nav-link">6. Anika</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="second-part container-fluid">
        <div #Jalupro class="row product">
            <div class="col-lg-5 order-lg-2 product-image">
                <img src=".\assets\product1.png" alt="" class="image-size">
            </div>
            <div class="col-lg-7 order-lg-1 product-text">
                <p class="product-title">
                    1. Jalupro
                </p>
                <p class="product-description">
                    A collagen booster that has amino acids and hyaluronic acids, it is a sterile reabsorbable
                    injectable solution which acts as dermal bio revitalizer which can be used for improving skin
                    texture and minimizing evidence of skin wrinkles of the face.
                </p>
                <div class="product-more-whole">
                    <app-product-learn-more>
                        <p>
                            Jalupro offers three unique formulas to address various skin rejuvenation needs. These
                            formulas
                            include Jalupro Classic, Jalupro HMW, and Jalupro Superhydro. Each of these formulas has
                            specific attributes and applications for skin enhancement.
                        </p>
                        <br>

                        <p class="less-space-after">
                            <b>A- Jalupro Classic</b>
                        </p>
                        <p class="less-space-after">
                            <b>Description: &nbsp;</b>Jalupro Classic is a non-crosslinked hyaluronic acid that contains
                            amino
                            acids to
                            improve skin elasticity and hydration.
                        </p>
                        <p class="less-space-after">
                            <b>Applications: &nbsp;</b>It is commonly used to reduce fine lines and wrinkles and improve
                            skin
                            texture.
                        </p>
                        <p class="less-space-after">
                            <b>Key Ingredients: &nbsp;</b>Amino acids, Sodium hyaluronate, Hyluronic acid, and Peptides
                        </p>
                        <p class="less-space-after">
                            <b>Treatment Areas: &nbsp;</b>Face, neck, décolleté, hands, and Body
                        </p>
                        <br>

                        <p class="less-space-after">
                            <b>B-Jalupro HMW</b>
                        </p>
                        <p class="less-space-after">
                            <b>Description: &nbsp;</b> Jalupro HMW (High Molecular Weight) is a unique formula designed
                            for
                            more
                            significant skin boosting and rejuvenation.
                        </p>
                        <p class="less-space-after">
                            <b>Applications: &nbsp;</b> Ideal for deeper wrinkles, scars, and advanced signs of aging.
                        </p>
                        <p class="less-space-after">
                            <b>Key Ingredients: &nbsp;</b> High molecular weight hyaluronic acid, amino acids, and
                            peptides.
                        </p>
                        <p class="less-space-after">
                            <b>Treatment Areas: &nbsp;</b> Face And body
                        </p>
                        <br>

                        <p class="less-space-after">
                            <b>C- Jalupro Superhydro</b>
                        </p>
                        <p class="less-space-after">
                            <b>Description: &nbsp;</b> Jalupro Superhydro is formulated to provide intense hydration and
                            skin
                            rejuvenation.
                        </p>
                        <p class="less-space-after">
                            <b>Applications: &nbsp;</b> Perfect for dry, dehydrated skin, for an overall youthful
                            appearance,
                            and for
                            instant lifting.
                        </p>
                        <p class="less-space-after">
                            <b>Key Ingredients: &nbsp;</b> Hyaluronic Acid, Amino Acids, and Peptides
                        </p>
                        <p class="less-space-after">
                            <b>Treatment Areas: &nbsp;</b> Face, neck, and hands.
                        </p>
                    </app-product-learn-more>
                </div>
            </div>
        </div>

        <div #Plus class="row product">
            <div class="col-lg-5 product-image">
                <img src=".\assets\product2.png" alt="" class="image-size">
            </div>
            <div class="col-lg-7 product-text">
                <p class="product-title">
                    2. 4 Plus
                </p>
                <p class="product-description">
                    The device has four main features, which are reflected in its very name, which are: DQRF, RSS, UPR,
                    VRF
                </p>
                <div class="product-more-whole">
                    <app-product-learn-more>
                        <p class="less-space-after">
                            <b>DQRF: &nbsp;</b> By using dynamic quadripolar radiofrequency, the operator can reach the
                            deepest tissues without affecting those on the surface.
                        </p>
                        <p class="less-space-after">
                            <b>UPR: &nbsp;</b> ultra-pulsed radioporation allows transdermal drug substance delivery
                            through creating multiple aqueous pores in the membrane.
                        </p>
                        <p class="less-space-after">
                            <b>RSS: &nbsp;</b> radio-frequency safety system ensures safety during the operation through
                            multiple methods, such as movement and temperature monitoring.
                        </p>
                        <p class="less-space-after">
                            <b>VRF: &nbsp;</b> Frequency Variability allows the temperature to reach the deepest layers,
                            so that you can choose between firming treatments and lypolitic ones
                        </p>

                        <P class="bigger-text">
                            FIELDS OF APPLICATION
                        </P>

                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector50.png" alt="">
                            &nbsp; Face lifting
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector50.png" alt="">
                            &nbsp; Eye Circle And Oedema
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector50.png" alt="">
                            &nbsp; Lip Volume
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector50.png" alt="">
                            &nbsp; Body Reshaping
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector50.png" alt="">
                            &nbsp; Resurfacing
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector50.png" alt="">
                            &nbsp; Targeted Anti-Scarring Action
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector50.png" alt="">
                            &nbsp; Strach Marks Reduction
                        </p>
                    </app-product-learn-more>
                </div>
            </div>
        </div>

        <div #Aesthafill class="row product">
            <div class="col-lg-5 order-lg-2 product-image">
                <img src=".\assets\product3.png" alt="" class="image-size">
            </div>
            <div class="col-lg-7 order-lg-1 product-text">
                <p class="product-title">
                    3. Aesthafill
                </p>
                <p class="product-description">
                    Aesthefill is a facial treatment that provides deep tissue regeneration to reduce the signs of
                    facial aging. It is made of PLA (polylactic acid), which is a biocompatible and biodegradable
                    substance approved by the US FDA and also used in lifting thread materials. It naturally
                    stimulates
                    skin cells to produce their own collagen.
                </p>
                <div class="product-more-whole">
                    <app-product-learn-more>
                        <p class="bigger-text">
                            INDICATIONS FOR THE PROCEDURE:
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector51.png" alt="">
                            &nbsp; Wrinkles on the face, neck and cleavage
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector51.png" alt="">
                            &nbsp; Sagging skin on the hand
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector51.png" alt="">
                            &nbsp; Sagging skin in the abdomen, arms, and knees
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector51.png" alt="">
                            &nbsp; Lack of volume in the buttocks
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector51.png" alt="">
                            &nbsp; Decrease in skin firmness and elasticity
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector51.png" alt="">
                            &nbsp; Nasolabial folds
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector51.png" alt="">
                            &nbsp; Wrinkles around the eyes
                        </p>
                        <p class="less-space-after">
                            <img class="star-vector" src="./assets/Vector51.png" alt="">
                            &nbsp; Venus rings on the neck
                        </p>

                        <p class="bigger-text">
                            BENEFITS
                        </p>
                        <div class="less-space-after">
                            <span class="table-cell-indent">
                                <img class="star-vector" src="./assets/Vector50.png" alt="">
                                &nbsp;
                            </span>
                            <span class="table-cell-indent">
                                AestheFill, made from polylactic acid, is safe for the body as it naturally leaves
                                the system.
                            </span>
                        </div>
                        <div class="less-space-after">
                            <span class="table-cell-indent">
                                <img class="star-vector" src="./assets/Vector50.png" alt="">
                                &nbsp;
                            </span>
                            <span class="table-cell-indent">
                                It stays where it's injected, doesn't move around, and has the right shape to avoid
                                vessel issues.
                            </span>
                        </div>
                        <div class="less-space-after">
                            <span class="table-cell-indent">
                                <img class="star-vector" src="./assets/Vector50.png" alt="">
                                &nbsp;
                            </span>
                            <span class="table-cell-indent">
                                Doctors can easily adjust it during the procedure for different skin levels.
                            </span>
                        </div>
                        <div class="less-space-after">
                            <span class="table-cell-indent">
                                <img class="star-vector" src="./assets/Vector50.png" alt="">
                                &nbsp;
                            </span>
                            <span class="table-cell-indent">
                                &nbsp;AestheFill is also supported by the fact that during the procedure, the doctor can
                                suspend the desired concentration and perform work on different levels of the dermis
                                (deep and superficial).
                            </span>
                        </div>
                    </app-product-learn-more>
                </div>
            </div>
        </div>

        <div #Facetem class="row product">
            <div class="col-lg-5 product-image">
                <img src=".\assets\product4.png" alt="" class="image-size">
            </div>
            <div class="col-lg-7 product-text">
                <p class="product-title">
                    4. Facetem
                </p>
                <p class="product-description">
                    The face system is a subcutaneous implant for improving wrinkles in a non-fuming paste form.
                    Main
                    ingredients of the filler, polymer gel carrier, and calcium hydroxyapatite (CaHA), are mixed in
                    appropriate ratio and injected into the body through the needle.
                </p>
                <div class="product-more-text">
                    <app-product-learn-more>
                        <p>
                            The face system is a subcutaneous implant for improving wrinkles in a non-fuming paste form.
                            Main ingredients of the filler, polymer gel carrier, and calcium hydroxyapatite (CaHA), are
                            mixed in appropriate ratio and injected into the body through the needle.
                        </p>
                        <br>
                        <p class="less-space-after">
                            <b>It has 2 types</b>
                        </p>
                        <p class="less-space-after">
                            <b>A- FACETEM 1.5cc Volume (1.5cc *1ea)</b>
                        </p>
                        <p class="less-space-after">
                            <b>B- FACETEM 0.8cc Volume (0.8cc *2ea)</b>
                        </p>
                    </app-product-learn-more>
                </div>
            </div>
        </div>

        <div #Renaissance class="row product">
            <div class="col-lg-5 order-lg-2 product-image">
                <img src=".\assets\product5.png" alt="" class="image-size">
                <div *ngIf="expand">
                    <img src=".\assets\product5-1.png" alt="" class="smaller-image-size">
                    <br>
                    <img src=".\assets\product5-2.png" alt="" class="smaller-image-size">
                    <br>
                    <img src=".\assets\product5-3.png" alt="" class="smaller-image-size">
                    <br>
                    <img src=".\assets\product5-4.png" alt="" class="smaller-image-size">
                </div>
            </div>
            <div class="col-lg-7 order-lg-1 product-text">
                <p class="product-title">
                    5. Renaissance
                </p>
                <p class="product-description">
                    Renaissance is an Italian company that specializes in developing innovative, pro-active, and
                    top-quality products. They act in synergy and guarantee remarkable results by providing to the
                    skin
                    those elements already naturally contained in it, that for some reason, have been diminishing.
                </p>
                <div class="product-more-text">
                    <div class="product-more">
                        <button (click)="toggleLearnMore()">
                            {{ vector }}
                            <img [class.reverse-vector]="expand === true" src="./assets/Vector29.png" alt="">
                        </button>
                        <img class="more-line" src="./assets/Vector30.png" alt="">
                    </div>
                    <div *ngIf="expand">
                        <p class="less-space-after">
                            A- Raffaello: is a rich cocktail of hydrating and defining actives. It acts to make the skin
                            even, glory, nourished, and moisturized.
                        </p>
                        <br>
                        <P class="less-space-after">
                            B- Tiziano: Advanced and specific principles make this cocktail the right solution to
                            restore
                            texture while boosting and lifting up the skin.
                        </P>
                        <br>
                        <P class="less-space-after">
                            C- Galileo: Cutting-edge and unique formula designed to treat the hair. It prevents,
                            restores,
                            and delays hair loss, dehydrated and thin hair. For men and women, based on hyaluronic acid
                            acting as a carrier of the actives
                        </P>
                        <br>
                        <P class="less-space-after">
                            D- Primavera: This rich and advanced cocktail for professional medical use has a
                            specifically
                            studied formula for performing rejuvenation and restoring the vulvo-vaginal and anal areas.
                        </P>
                        <br>
                        <P class="less-space-after">
                            E- Michelangelo: Its body for carving and lipolytic attitudes make this body cocktail the
                            hot
                            key for body sculpting and re-contouring. The antioxidant complex represents a plus for
                            visible
                            skin texture improvement and downtime reduction.
                        </P>
                    </div>
                </div>
            </div>
        </div>

        <div #Anika class="row product">
            <div class="col-lg-5 product-image">
                <img src=".\assets\product6.png" alt="" class="image-size">
            </div>
            <div class="col-lg-7 product-text">
                <p class="product-title">
                    6. Anika
                </p>
                <p class="product-description">
                    The state of the art device for safe, hygienic and precise oxygenation. Carboxy-therapy first
                    introduced in the 20th century, has become a state of the art treatment thanks to ANIKA that has
                    multiple protocols that turned it into a total body therapy; effective for face and body, including
                    vulvo-vaginal applications.
                </p>
                <div class="product-more-text">
                    <app-product-learn-more>
                        <p class="less-space-after">
                            What makes the devices special is CCF™: CO2 Control Flow; a technology that redulates gas
                            emissions (from 5 to 600cc/min) constantly and precisely for a variety of clinical fields,
                            from dermatology to gynecology to plastic and cosmetic surgery.
                        </p>
                        <p class="less-space-after">Also, having the TSC system maximizes the safety of ANIKA by
                            enabling the pre-heating of the
                            CO2 gas from 30° to 47°C</p>
                        <br>

                        <P class="bigger-text">
                            FIELDS OF APPLICATION
                        </P>
                        <p class="less-space-after">
                            <b>Aesthetic medicine and anti-aging:</b>
                        </p>
                        <p class="less-space-after">
                            - Cellulite
                        </p>
                        <p class="less-space-after">
                            - Face and body skin laxity
                        </p>
                        <p class="less-space-after">
                            - Fat deposits
                        </p>
                        <p class="less-space-after">
                            - Stretch marks
                        </p>
                        <p class="less-space-after">
                            - Dark circles
                        </p>
                        <br>

                        <p class="less-space-after">
                            <b>Functional and aesthetic gynecology:</b>
                        </p>
                        <p class="less-space-after">
                            - Vulvar rejuvenation and bi-stimulation
                        </p>
                        <p class="less-space-after">
                            - Vulvo-vaginal pain therapy
                        </p>
                        <p class="less-space-after">
                            - Scar enhancement
                        </p>
                        <p class="less-space-after">
                            - Pre and post genital surgery
                        </p>
                        <br>

                        <p class="less-space-after">
                            <b>Surgery:</b>
                        </p>
                        <p class="less-space-after">
                            - Improvement of texture
                        </p>
                        <p class="less-space-after">
                            - Pre and post regenerative surgery
                        </p>
                        <p class="less-space-after">
                            - Pre and post fat grafting
                        </p>
                        <p class="less-space-after">
                            - Pre and post aesthetic plastic surgery
                        </p>
                        <br>

                        <p class="less-space-after">
                            <b>Dermatology and trichology:</b>
                        </p>
                        <p class="less-space-after">
                            - Eczemas and psoriasis
                        </p>
                        <p class="less-space-after">
                            - Cutaneous scars improvement
                        </p>
                        <p class="less-space-after">
                            - Alopecia areata, Alopecia androgeneticam and Telogen Effluvium
                        </p>
                        <p class="less-space-after">
                            - Ulcers and hard to heal wounds
                        </p>
                    </app-product-learn-more>
                </div>
            </div>
        </div>
    </div>
</div>